.hidden {
  display: none
}

body {
  background-color: lightblue;
  ;

}

.heading {
  color: whitesmoke;
  background-color: lightslategray;
  margin: 2%;
  text-align: center;
  border-radius: 10px;
  border-top: 5px;
  border-bottom: 5px;
}

.col-4 {
  color: whitesmoke;
  background-color: lightslategray;
  text-align: center;
  border-radius: 10px;
}

.text {

  border-bottom: 2px slategrey dotted;
  border-color: slategrey;
  background-color: lightgoldenrodyellow;
}

